/* Global Content Formatting and Styles */

body {
  color:#318E33;
  line-height: 1.5em;
  font: 14px Arial, sans-serif;
  background: #000 url(../img/background.jpg) repeat-x 0 0;
}

.page {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  color: #89DE8B;
  margin: 0 0 .5em 0;
}

h2 {
  font-size: 1.7em;
  margin: 0 0 1em 0;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

p {
  margin: 0 0 0.75em 0;
}

a {
  color: lightgrey;
  text-decoration: none;
}

a:hover {
  color: #009eff;
}

footer {
  font-size: .85em;
  color: cornflowerblue;
  background: transparent;
  padding: 10px 10px 10px 0;
}

.character a {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  margin: .5em 0 0 0;
  padding: 0 12px 0 0;
  background: url(../img/arrow.png) no-repeat right 1px;
}

.character a:hover {
  background-position: right -49px;
}

.character h3 {
  font-size: 1.1em;
  margin: 0;
}

.character p {
  line-height: 1.2em;
  font-size: .9em;
  margin-bottom: .5em;
}

.character {
  background-repeat: no-repeat;
}

.characters_container .character:nth-child(1) {
  background-image: url(../img/neo.jpg);
}

.characters_container .character:nth-child(2) {
  background-image: url(../img/morpheus.jpg);
}

.characters_container .character:nth-child(3) {
  background-image: url(../img/trinity.jpg);
}

nav a {
  color: #f5a06e;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-size: .9em;
}

nav a:hover {
  color: #fff;
}

.clear {
  clear: both;
  line-height: 1px;
}

